[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=rEye
Exec=/usr/bin/invoker --type=d -s /opt/reye/bin/reye
Icon=/usr/share/icons/hicolor/80x80/apps/reye80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
